<script src="/js/show_game.js"></script>

<h1>Game of Monopoly!</h1>

<input type="hidden" id="gameId" value="<%= @game.id %>" />

<div class="well">
  <h2>Status</h2>
  <p>
  Players<br>
  <span id="players"></span>
  </p>
</div>

<a href="" id="ownedProperties" data-rel="popup" data-position-to="window" class="ui-btn ui-btn-b ui-corner-all ui-btn-inline">Owned Properties</a>
<a href="" class="ui-btn ui-btn-b ui-corner-all ui-btn-inline">Roll Dice</a>
<a href="" id="refresh_link" class="ui-btn ui-btn-b ui-corner-all ui-btn-inline">Refresh</a>

<%= render 'monopoly' %>

<br>

<h2>History</h2>
<span id="history"></span>
<div data-role="popup" id="ownedPropertiesDiv" class="ui-content"><p id="propertyList"></p></div>
