<script src="/js/show_game.js"></script>

<h1>Game of Monopoly!</h1>

<div class="well">
  <h2>Status</h2>
  <p>
  Players<br>
  Dave - $0 (Baltic Avenue)<br>
  Tim - $1,000,000 (Boardwalk)
  </p>
</div>


<a href="" class="ui-btn ui-btn-b ui-corner-all ui-btn-inline">History</a>
<a href="" class="ui-btn ui-btn-b ui-corner-all ui-btn-inline">Owned Properties</a>

{
'game': {
  'id': 1,
  'players': [
    position, name, cash
  ],
  'history_limited':[
  ],
  'current_player_id',
  'free_parking_pot',
  'board_spaces'

}
}