<style>
  .alert-box {
      color:#555;
      border-radius:10px;
      /* font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;*/
      padding:10px 10px 10px 36px;
      margin:10px;
  }
  .alert-box span {
      font-weight:bold;
      text-transform:uppercase;
  }

  .error {
      background:#ffecec url('/img/error.png') no-repeat 10px 50%;
      border:1px solid #f5aca6;
  }
  .success {
      background:#e9ffd9 url('/img/success.png') no-repeat 10px 50%;
      border:1px solid #a6ca8a;
  }

</style>

<% if flash[:error].nil? == false %>
  <div class="alert-box error"><span>error: </span><%= flash[:error] %></div>
<% end %>

<% if flash[:notice].nil? == false %>
  <div class="alert-box success"><span>success: </span><%= flash[:notice] %></div>  
<% end %>

