<h1>Welcome to Monopoly!</h1>

<p>Here you can set up games and play passively against friends on your computer, tablet, or phone. Click below to log in or sign up!</p>

<div class="well">
	<h2>Log In</h2>
	Email <input type="email" name="email" />
	Password <input type="password" name="password" />
	<div class="ui-input-btn ui-btn ui-btn-b ui-corner-all">
	    Log In
	    <input type="submit" data-enhanced="true" value="Log In">
  	</div>
</div>

<div class="well">
	<h2>Sign Up</h2>
	Email <input type="email" name="email" />
	Password <input type="password" name="password" />
	<div class="ui-input-btn ui-btn ui-btn-b ui-corner-all">
	    Sign Up
	    <input type="submit" data-enhanced="true" value="Sign Up">
  	</div>
</div>