<!DOCTYPE html>
<html>
<head>
  <title>Monopoly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  
  <link rel="stylesheet" href="/css/site.css" />

</head>
<body>
      
  <div data-role="page" data-url="<%= request.path %>">

      <div data-role="header" data-theme="b" data-position="fixed" data-tap-toggle="false">
        <h1>Monopoly</h1>

        <% if current_user && params[:controller] == 'users' && params[:action] == 'show' %>
          <a href="/logout" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-delete">Log Out</a>
        <% end %>
        
        <% if params[:controller] == 'games' && params[:action] == 'show' %>
          <a href="/" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-home">Home</a>
          <button id="refresh_link" class="ui-btn-right ui-btn ui-btn-b ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-refresh">Refresh</button>
        <% end %>
      </div><!-- /header -->

      <div role="main" class="ui-content">

        <%= render :partial => 'partials/flash_messages' %>

        <%= yield %>
        
      </div><!-- /content -->

    </div><!-- /page -->

</body>
</html>
